{% extends 'pokedex/extend/base.html' %}
{% load static %}
{% load django_template_maths %}

{% block content %}
<div class="container content">
    <div class="row">
        {% for pokemon in pokemon_list %}
        <div class="col-3">
            <a href="#{{ pokemon.id }}" data-toggle="modal" data-target="#{{ pokemon.id }}">
                <div class="card pokemon">
                    <img class="card-img-top" src="{% static 'images/pokemon/'%}{{pokemon.id}}.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ pokemon.nome }}</h5>
                    </div>
                </div>
            </a>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="{{ pokemon.id }}" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-4">
                                <img class="card-img-top" src="{% static 'images/pokemon/'%}{{pokemon.id}}.png">
                            </div>
                            <div class="col-8">
                                <h3>
                                    {{ pokemon.nome }}
                                </h3>
                                <p>
                                    {% for tipo in pokemon.tipos %}
                                    <label class="tipo {{ tipo }}">{{ tipo }}</label>
                                    {% endfor %}
                                </p>
                                <p>
                                    <b>Peso: </b> {{ pokemon.peso|div:"10"}} Kg
                                    <b>Altura: </b> {{ pokemon.altura|div:"10"}} m
                                </p>
                                <p>
                                    {{ pokemon.descricao }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock %}